.taskform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 1px 1px 1px 1px grey;
  padding: 30px;
  width: 30%;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}
.taskform input,
.taskform button,
.taskform select {
  padding: 10px;
}

.taskform button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  width: 30%;
  border-radius: 5px;
}
.taskform select {
  border: 1px solid grey;
  background-color: white;
}
.taskform select option:nth-child(2) {
  color: red;
}
.taskform select option:nth-child(3) {
  color: rgb(0, 132, 255);
}
.taskform select option:nth-child(4) {
  color: rgb(18, 184, 3);
}
